<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>my website (Noam El-dor Turkenitz)</title>
    <style>
        body {
            background-color: #b3d9ff; /* רקע תכלת */
            font-size: 20px;
        }

        table {
            width: 100%;
            margin: auto;
            table-layout: fixed; /* מחלק את השורה שווה בשווה בין כל התאים */
            border-collapse: collapse; /* מוריד רווחים בין תאים */
        }

        td, th {
            text-align: center;
            vertical-align: middle;
        }

        .nav-link td {
            padding: 10px 0; /* מסיר רווח בין התאים */
            border: none;
        }

        .nav-link td {
            width: 100%; /* רוחב אחיד */
            height: auto; /* גובה אחיד */
            margin: auto;
            display: block; /* מוודא שהתמונה במרכז  */
        }

        img.menu {
            width: 100px;
            height: 70px
        }


    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <%
        string name = (string)Session["userName"];

        if (Session["nihul"] == "ok")
        {
    %>
     Hello  <%=name %>
    <!--הדף מנהל רושם כבר ADMIN -->
    <%
        }
        else if (Session["user"] == "ok")
        {
    %>
    Hello Member <%=name %>
    <%
        }
        else
        {
    %>
    Hello Guest
    <%
        }
    %>
    <table border="1">
        <tr>
            <!--line 1- header -->
            <th>
                <h1>my website about music</h1>
            </th>
        </tr>
        <!-- end of line 1-->
        <tr class="nav-link">
            <td>

                <a href="home.aspx">
                    <img class="menu" src="images for html/home.png" />
                </a>

                <a href="about.aspx">
                    <img class="menu" src="images for html/about.png" />
                </a>

                <a href="gallery.aspx">
                    <img class="menu" src="images for html/gallery.png" />
                </a>

                <%
                    if (Session["nihul"] != null && Session["nihul"].ToString() == "ok")
                    {
                %>

                <a href="managment.aspx">
                    <img class="menu" src="images for html/managment.png" />
                </a>

                <a href="ShowSongs.aspx">
                    <img class="menu" src="images for html/ShowSongs.png" />
                </a>
                <a href="TopSongs.aspx">
                    <img class="menu" src="images for html/TopSongs.png" />
                </a>
                <a href="AddSong.aspx">
                    <img class="menu" src="images for html/AddSong.png" />
                </a>
                <a href="disconnect.aspx">
                    <img class="menu" src="images for html/dissconnect.png" />
                </a>

                <%
                    }
                    else if (Session["user"] != null && Session["user"].ToString() == "ok")
                    {

                %>
                <a href="ShowSongs.aspx">
                    <img class="menu" src="images for html/ShowSongs.png" />
                </a>
                <a href="TopSongs.aspx">
                    <img class="menu" src="images for html/TopSongs.png" />
                </a>

                <a href="AddSong.aspx">
                    <img class="menu" src="images for html/AddSong.png" />
                </a>
                <a href="disconnect.aspx">
                    <img class="menu" src="images for html/dissconnect.png" />
                </a>

                <%
                    }
                    else
                    {
                %>

                <a href="sign_up.aspx">
                    <img class="menu" src="images for html/sign up.png" />
                </a>

                <a href="log_in.aspx">
                    <img class="menu" src="images for html/log in.png" />
                </a>

                <%
                    }
                %>



            </td>
        </tr>
        <!-- end of line 2 -->
        <tr>
            <!-- line 3-content placeholder -->
            <td>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </td>
        </tr>
        <!--end of line 3-->
        <tr>
            <!-- line 4- header of the bottom -->
            <td>
<footer>Enjoy Your Stay</footer>

            </td>

        </tr>
    </table>
</body>
</html>
